{% extends "layout.html"  %}
{% block body %}
    <section class="bg-light mt-5">
    <div class="container"></div>
     <div class="row">
         <div class="container" style="margin-top: 2%;">
             <div class="alert alert-warning d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
              <div>
                  <i class="fa-solid fa-circle-info"></i> Uyarı :<br>
                  - Temizlenecek verinin bulunduğu saha <b>'text'</b> şeklinde isimlendirilmelidir. <br>
                  - Sürükleyip bırakılan veri öncelikle <b>Yükle</b> butonuna basılarak yüklenmelidir. <br>
                  - <b>Temizle & İndir</b> butonuna basılarak verinin temizlenmesi sağlanır. <br>
                  - Yüklenen veri <b>2048 MB</b> tan büyük olmamalıdır. <br>
                  - Veri temizleme aracı <b>.xlsx, .xls</b> formatlarını desteklemektedir.<br>
                  - Lütfen <b>her temizleme işlemi için 1 adet veriseti</b> sürükleyiniz.
              </div>
            </div>
         </div>
     </div>
     <div class="row">
      <div class="col-lg-8 offset-lg-2">
       <div class="form-wrapper py-5">
         <form action="/" class="dropzone" id="my-dropzone" method="POST">
           <div class="form-group">
             <button class="btn btn-success" type="submit"><i class="fa-solid fa-file-arrow-up"></i> Yükle</button>
               <a href="/data_cleaning" class="btn btn-secondary" type="submit"><i class="fa-solid fa-soap"></i> Temizle & İndir</a>
               <input type="text" name="myFormData" id="myFormData" placeholder="Enter your data" class="form-control" style="visibility: hidden" required/>
           </div>
         </form>
        </div>
       </div>
      </div>
  </section>
{% endblock %}

{% block javascript_block %}


{% endblock %}





